$blue: rgb(12, 111, 241);
$red: rgb(231, 50, 37);
$orange: rgb(235, 115, 17);

.bg-blue{
  background-color: $blue !important;
}

.bg-red{
  background-color: $red !important;
}

.bg-orange{
  background-color: $orange !important;
}