@layout('layouts/master')

@section('main')
<div class="error-message flex-wrapper justify-content-center align-items-center">
  <i class="material-icons right">error</i> {{{errorMessage}}}
</div>
@endsection