@layout('layouts/master.edge')

@section('main')
  <h5>Usuários</h5>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
@endsection